# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Simple Chat Bot with Java/*
!/Simple Chat Bot with Java/task/
/Simple Chat Bot with Java/task/*
!/Simple Chat Bot with Java/task/src

# Project exclude paths
/Topics/Comparing values. Relational operators/Boys in a sport class/out/
/Topics/Comparing values. Relational operators/Boys in a sport class/out/production/classes/
/Topics/Conditional statement/Interval/out/
/Topics/Conditional statement/Interval/out/production/classes/
/Topics/Conditional statement/The army of units/out/
/Topics/Conditional statement/The army of units/out/production/classes/
/Topics/Conditional statement/Triangle/out/
/Topics/Conditional statement/Triangle/out/production/classes/
/Topics/For-loop/Arithmetic average/out/
/Topics/For-loop/Arithmetic average/out/production/classes/
/Topics/Integer types and operations/Arithmetic expression/out/
/Topics/Integer types and operations/Arithmetic expression/out/production/classes/
/Topics/Integer types and operations/Next even number/out/
/Topics/Integer types and operations/Next even number/out/production/classes/
/Topics/Integer types and operations/Reversing input numbers/out/
/Topics/Integer types and operations/Reversing input numbers/out/production/classes/
/Topics/Integer types and operations/Squirrels and nuts/out/
/Topics/Integer types and operations/Squirrels and nuts/out/production/classes/
/Topics/Reading user's input with Scanner/Printing each word in a new line/out/
/Topics/Reading user's input with Scanner/Printing each word in a new line/out/production/classes/
/Topics/Reading user's input with Scanner/Printing strings in the same order/out/
/Topics/Reading user's input with Scanner/Printing strings in the same order/out/production/classes/
/Topics/Types and variables/Assignments/out/
/Topics/Types and variables/Assignments/out/production/classes/
/Topics/Types and variables/Invalid declaration of variables/out/
/Topics/Types and variables/Invalid declaration of variables/out/production/classes/
/Topics/Writing first program/Hello, Java/out/
/Topics/Writing first program/Hello, Java/out/production/classes/